In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import urllib.request
import requests
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
#creating an empty list
Rank=[]
Name=[]
Artist=[]
uploaddate=[]
views=[]

In [5]:
#scraping Rank details
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
#scraping Name details
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
#scraping Artist details
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
#scraping uploaddate details
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")[:30]:
        uploaddate.append(i.text)
except NoSuchElementException:
    uploaddate.append("-")
#scraping views details
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append("-")

In [6]:
df=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"uploaddate":uploaddate,"views":views})
df

,Rank,Name,Artist,uploaddate,views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.80
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.87
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.37
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.74
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.54
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.44
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.67
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.60
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.58
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.45
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.12
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.95
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.71
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.60
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.59
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.55
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.46
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.38
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.30
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.29
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.29
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.26
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.24
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.22
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.22
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.18
27,28.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.18
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.16
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.09

2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [8]:
driver.get('https://www.bcci.tv/.')

In [15]:
#clicking International button
driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a").click()

In [16]:
MatchName=[]
Series=[]
place=[]
Date=[]
Time=[]

In [17]:
#scraping Match titles
for i in driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']"):
    MatchName.append(i.text)
for i in driver.find_elements_by_xpath("//span[@class='ng-binding']"):
    Series.append(i.text)
for i in driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']"):
    place.append(i.text)
for i in driver.find_elements_by_xpath("//h5[@class='ng-binding']"):
    Date.append(i.text)
for i in driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']"):
    Time.append(i.text)

In [18]:
df=pd.DataFrame({"MatchName":MatchName,"Series":Series,"Place":place,"Date":Date,"Time":Time})
df

,MatchName,Series,Place,Date,Time
0,1st T20I -,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium,",23 JUN 2022,2:00 PM IST
1,2nd T20I -,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium,",25 JUN 2022,2:00 PM IST
2,1st T20I -,INDIA TOUR OF IRELAND T20 SERIES 2022,"The Village,",26 JUN 2022,9:00 PM IST
3,3rd T20I -,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium,",27 JUN 2022,2:00 PM IST
4,2nd T20I -,INDIA TOUR OF IRELAND T20 SERIES 2022,"The Village,",28 JUN 2022,9:00 PM IST
5,1st ODI -,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Pallekele International Cricket Stadium,",1 JUL 2022,10:00 AM IST
6,5th Test -,INDIA TOUR OF ENGLAND TEST SERIES 2021,"Edgbaston,",1 JUL 2022,3:30 PM IST
7,2nd ODI -,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Pallekele International Cricket Stadium,",4 JUL 2022,10:00 AM IST

3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [19]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [20]:
driver.get("https://www.guru99.com/")

In [22]:
#input in the searchbox
search_bar=driver.find_element_by_xpath("html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")

In [23]:
search_bar.send_keys("selenium exception handling")

In [24]:
#clicking search button
driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button").click()

In [29]:
Name=[]
Description=[]

#scraping Names
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[1]")[1:]:
    Name.append(i.text)
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[2]")[1:]:
    Description.append(i.text)

In [30]:
df=pd.DataFrame({"Name":Name,"Description":Description})
df

,Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4.scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [31]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [32]:
driver.get("http://statisticstimes.com/")

In [33]:
#clicking Economy button
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button/i").click()

In [34]:
#clicking India button
urls=driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
page_url=urls.get_attribute("href")
#going to indianEconomy page
driver.get(page_url)

In [36]:
Rank=[]
State=[]
GSDP19=[]
GSDP18=[]
Share=[]
GDP=[]

#scraping Rank details
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)
    
#scraping data of states
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)
    
#scraping data GSDP18 of states
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP19.append(i.text)

#scraping GSDP19 of states
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP18.append(i.text)

#scraping Share of states
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

#scraping GDP of states
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)

In [37]:
df=pd.DataFrame({"Rank":Rank,"State":State,"GSDP19-20":GSDP19,"GSDP18-19":GSDP18,"Share":Share,"GDP":GDP})
df

   Rank                      State  GSDP19-20  GSDP18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code

In [68]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [69]:
driver.get("https://github.com/")

In [70]:
#Clicking explore tab
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

In [71]:
#clicking Trending tab
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a").click()

In [72]:
#creating empty lists
Title=[]
Description=[]
Count=[]
Languagesused=[]
lang=[]

In [73]:
 #scraping Description details 
Description=[]
for i in driver.find_elements_by_xpath("//article[@class='Box-row']/p"):
    if i.text==None:
        Description.append("-")
    else:
        Description.append(i.text)

23

In [74]:
Title=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")[0:23]:
    if i.text==None:
        Title.append("-")
    else:
        Title.append(i.text)

In [75]:
Languagesused=[]
for i in driver.find_elements_by_xpath("//div[@class='f6 color-fg-muted mt-2']/span[1]")[0:23]:
    if i.text==None:
        Languagesused.append("-")
    else:
        Languagesused.append(i.text)

In [78]:
df=pd.DataFrame({"Name of Repository":Title,"Description":Description,"LanguagesUSed":Languagesused})
df

,Name of Repository,Description,LanguagesUSed
0,Tencent / spring-cloud-tencent,Spring Cloud Tencent is a Spring Boot based Se...,Java
1,CatVodTVOfficial / TVBoxOSC,开发阶段请不要提没有意义的PR，也不要用PR来提意见！,Java
2,meituan / YOLOv6,YOLOv6: a single-stage object detection framew...,Python
3,Wsine / android_builder,The serverless cost optimization bot,Built by
4,YuanHsing / freed,Haptic input knob with software-defined endsto...,Built by
5,cremich / cdk-bill-bot,To Be Top Javaer - Java工程师成神之路,TypeScript
6,scottbez1 / smartknob,100 numpy exercises (with solutions),C++
7,hollischuang / toBeTopJavaer,"🚀 A robust, performance-focused, and full-feat...",Java
8,rougier / numpy-100,Fast and configurable TLS grabber focused on T...,Python
9,luin / ioredis,A youtube-dl fork with additional features and...,TypeScript
10,projectdiscovery / tlsx,Open-Source Phishing Toolkit,Go
11,yt-dlp / yt-dlp,C# application with primary purpose of farming...,Python
12,gophish / gophish,Empowering everyone to build reliable and effi...,Go
13,JustArchiNET / ArchiSteamFarm,Lean's OpenWrt source,C#
14,rust-lang / rust,"Home of the WebKit project, the browser engine...",Rust
15,coolsnowwolf / lede,🛠「Watt Toolkit」是一个开源跨平台的多功能 Steam 工具箱。,C
16,WebKit / WebKit,Complete Open Source and Modular solution for MMO,Built by
17,BeyondDimension / SteamTools,This repository is a mirror of https://git.ope...,C#
18,azerothcore / azerothcore-wotlk,ALL IN ONE Hacking Tool For Hackers,C++
19,openwrt / openwrt,An Identity and Access Management (IAM) / Sing...,C
20,Z4nzu / hackingtool,Pre-Built Vulnerable Environments Based on Doc...,Python
21,casdoor / casdoor,Full reference of LinkedIn answers 2022 for sk...,Go
22,vulhub / vulhub,Nintendo 64 flash cart using a Raspberry Pi RP...,Dockerfile

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [59]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [60]:
driver.get("https://www.naukri.com/browse-jobs")

In [61]:
#clicking Recruiters option
search_recruiter=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
url=search_recruiter.get_attribute("href")
driver.get(url)

In [62]:
#clicking Recruiters option
#driver.find_element_by_xpath("/html/body/div[1]/div/ul/li[2]/a/div").click()

In [63]:
#Entering in  Search bar
search_bar=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_bar.send_keys("Data Science")

In [64]:
#clicking search button
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

In [65]:
#creating empty lists
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#scraping names of the recruiters
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']")[:50]:
    Name.append(i.text)

#scraping Designation details
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']")[:50]:
    Designation.append(i.text)
    
#scraping Company details
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]")[:50]:
    Company.append(i.text)

#scraping skills required
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")[:50]:
    try:
        if i.text=='Not Specified': raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append("-")

#scraping Location details
try:
    for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span")[:50]:
        Location.append(i.text)
except NoSuchElementFound:
    Location.append("-")

In [ ]:
len(Name),len(Designation),len(Skills),len(Company),len(Location)

In [66]:
df=pd.DataFrame({"Name":Name,"Designation":Designation,"Company":Company,"Skills":Skills,"Location":Location})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",UK - (london)
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Abhishek - Only Analytics Hiring - India and
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Recruitment Lead Consultant
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Vadodara / Baroda
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Institute for Financial Management and Resear
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Programme Manager
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Chennai
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Balu Ramesh
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",HR Administrator
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Priyanka Akiri
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",HR Manager
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Kalpana Dumpala
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Executive Hiring
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Hyderabad / Secunderabad
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Mubarak
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Company HR
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Bengaluru / Bangalore
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Kushal Rastogi
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Company HR
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mahesh Babu Channa
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",HR Team Lead
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Kapil Devang
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",HR Manager
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bhopal
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Sakshi Chhikara
49,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Assistant Manager HR

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [55]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [56]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [57]:
Name=[]
AuthorName=[]
Volumes=[]
Publisher=[]
Genre=[]

#Scraping Name of the book
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[2]"):
    Name.append(i.text)

#scraping Author Names
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[3]"):
    AuthorName.append(i.text)

#scraping Volumes sold
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[4]"):
    Volumes.append(i.text)

#scraping Publisher
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[5]"):
    Publisher.append(i.text)

#scraping Genre
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[6]"):
    Genre.append(i.text)

In [58]:
df=pd.DataFrame({'BookName':Name,"AuthorName":AuthorName,"Volumes Sold":Volumes,"Publisher":Publisher,"Genre":Genre})
df

,BookName,AuthorName,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [51]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [52]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [53]:
Name=[]
Year=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes=[]

#scraping Name of the tvshow
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//h3//a"):
    Name.append(i.text)

#scraping Year
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year.append(i.text)

#scraping Genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)
    
#scraping RunTime
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Runtime.append(i.text)
    
#scraping Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

#scraping votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]//span[2]"):
    Votes.append(i.text)

In [54]:
df=pd.DataFrame({"Name":Name,"Year":Year,"Genre":Genre,"Runtime":Runtime,"Ratings":Ratings,"Votes":Votes})
df

,Name,Year,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,998,535"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,046,879"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"951,014"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"284,236"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"244,022"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,942"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,650"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"190,916"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,378"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"229,433"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [44]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [45]:
driver.get("https://archive.ics.uci.edu/")

In [46]:
#clcikcing viewalldatasets tab
driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click()

In [49]:
#scraping Name of the dataset
Name=[]
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[1]//p//a"):
    Name.append(i.text)

#scraping Task of the dataset
Task=[]
for i in driver.find_elements_by_xpath("//table[@border='1']//tbody/tr/td[3]/p"):
    try:
        Task.append(i.text)
    except NoSuchElementException:
        Task.append("-")

#scraping AttributeType
AttributeType=[]
for i in driver.find_elements_by_xpath("//table[@border='1']//tbody/tr/td[4]/p"):
    try:
        AttributeType.append(i.text)
    except NoSuchElementException:
        AttributeType.append("-")

#scraping NoofInstances
Instances=[]
for i in driver.find_elements_by_xpath("//table[@border='1']//tbody/tr/td[5]/p"):
    try:
        Instances.append(i.text)
    except NoSuchElementException:
        Instances.append("-")

#scraping NoofAttributes
NoAttributes=[]
for i in driver.find_elements_by_xpath("//table[@border='1']//tbody/tr/td[6]/p"):
    try:
        NoAttributes.append(i.text)
    except NoSuchElementException:
        NoAttributes.append("-")

#scraping year
Year=[]
for i in driver.find_elements_by_xpath("//table[@border='1']//tbody/tr/td[7]/p"):
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append("-")

In [50]:
df=pd.DataFrame({"DatasetName":Name,"Task":Task,"No.Of.Instances":Instances,"AttributeType":AttributeType,"No.Of.Attributes":NoAttributes,"Year":Year})
df

,DatasetName,Task,No.Of.Instances,AttributeType,No.Of.Attributes,Year
0,Name,Default Task,# Instances,Attribute Types,# Attributes,Year
1,Abalone,Classification,4177,"Categorical, Integer, Real",8,1995
2,Adult,Classification,48842,"Categorical, Integer",14,1996
3,Annealing,Classification,798,"Categorical, Integer, Real",38,
4,Anonymous Microsoft Web Data,Recommender-Systems,37711,Categorical,294,1998
...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twitte...,Classification,75840,"Integer, Real",525,2020
619,Turkish Music Emotion Dataset,Classification,400,"Integer, Real",50,2020
620,Maternal Health Risk Data Set,Classification,1014,,7,2020
621,Room Occupancy Estimation,Classification,10129,Real,16,2021
622,Image Recognition Task Execution Times in Mobi...,Regression,4000,Real,2,2021