In [1]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [4]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
#Entering “Data Analyst” in “Skill, Designations, Companies” field 
desgn=driver.find_element_by_class_name("suggestor-input ")
desgn.send_keys("Data Analyst")

In [5]:
#Enter “Bangalore” in the location” field.
loc_tag=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
loc_tag.send_keys("Bangalore")

In [6]:
#click the search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [36]:
#now extrac the job titles,company name,location-list,experiance
job_title=[]
company_name=[]
location_lst=[]
experiance_lst=[]

In [46]:
#extracting jobs_title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    title=i.text
    job_title.append(title)

In [45]:
#extracting companies names
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tag:
    company=i.text
    company_name.append(company)

In [44]:
#extracting job_laocation
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in location_tag:
    loc=i.text
    location_lst.append(loc)

In [43]:
#extracting experiance need for job 
experiance_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in experiance_tag:
    exp=i.text
    experiance_lst.append(exp)

In [41]:
len(job_title),len(location_lst),len(company_name),len(experiance_lst)

(20, 20, 20, 20)

In [42]:
df=pd.DataFrame({'Job_Title':job_title,"Job_Location":location_lst,"Company_Name":company_name,"Experience":experiance_lst})
df[0:10]

,Job_Title,Job_Location,Company_Name,Experience
0,Senior Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-4 Yrs
1,Data Analyst- customer facing,Bangalore/Bengaluru,Synamedia,0-3 Yrs
2,Sr Data Analyst II,"Gurgaon/Gurugram, Bangalore/Bengaluru",IHS Markit,3-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,2-4 Yrs
4,Hiring For Data Analyst with SAP ABAP & BW - C...,Bangalore/Bengaluru,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs
5,Senior Business Analyst - Data Sciences and Ad...,Bangalore/Bengaluru,Vmware,3-7 Yrs
6,Business and Data Analyst,Bangalore/Bengaluru,CAREERDOST ENTERPRISE,0-5 Yrs
7,Senior Data Analyst | Lululemon,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED,5-8 Yrs
8,Urgent hiring For Senior Data Analyst,Bangalore/Bengaluru,upGrad,2-7 Yrs
9,Senior Data Analyst,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Capco,7-12 Yrs

In [ ]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [5]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
driver.get('https://www.naukri.com/')

In [7]:
#Enter “Data Scientist” in “Skill, Designations, Companies” field
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [8]:
#Enter location as "Bangalore"
search_field_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_loc.send_keys("Bangalore")

In [9]:
#clicking on search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [10]:
#now extrac the job titles,company name,location-list,experiance
job_titles=[]
company_names=[]
location_list=[]
experiance_list=[]

In [11]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [12]:
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tag:
    company=i.text
    company_names.append(company)

In [13]:
experiance_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in experiance_tags:
    exp=i.text
    experiance_list.append(exp)

In [14]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in location_tags:
    loc=i.text
    location_list.append(loc)

In [15]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['company']=company_names
jobs['Experiance Required']=experiance_list
jobs['location']=location_list
jobs[0:10]

,Title,company,Experiance Required,location
0,Senior Data Scientist Grade12,Flipkart,5-10 Yrs,Bangalore/Bengaluru
1,Senior Data Scientist Grade12,Flipkart,5-7 Yrs,Bangalore/Bengaluru
2,Senior Data Scientist,Fractal Analytics,5-10 Yrs,Bangalore/Bengaluru
3,Data Scientist,Genpact,5-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
4,Data Scientist,VISA,3-7 Yrs,Bangalore/Bengaluru
5,"Data Scientist, Machine Learning (AIML)",Fractal Analytics,3-7 Yrs,Bangalore/Bengaluru
6,Cognitive/AI Senior Data Scientist,IBM,4-8 Yrs,Bangalore/Bengaluru
7,Lead - Data Scientist,Applied Materials,10-15 Yrs,Bangalore/Bengaluru
8,DATA SCIENTIST,Kyndryl,8-10 Yrs,Bangalore/Bengaluru
9,Data Scientist,Aidetic Software Pvt Ltd,1-5 Yrs,Bangalore/Bengaluru

In [87]:
#Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [162]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')

In [163]:
driver.get('https://www.naukri.com/')

In [164]:
#Enter “Data Scientist” in “Skill, Designations, and Companies” field.
input_tag=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
input_tag.send_keys("Data Scientist")

In [165]:
# Then click the search button.
src_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
src_button.click()

In [166]:
#Apply the location filter to “Delhi/NCR”
driver.find_element_by_xpath("/html/body/div/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p").click()

In [168]:
#Apply salary filter to "3-6" lakhs
driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]").click()

In [169]:
tit=[]
cmp=[]
lok=[]
exp=[]

In [170]:
#extracting job titles
titl=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titl:
    tit.append(i.text)

In [171]:
#extracting company names
cp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in cp:
    c=j.text
    cmp.append(c)

In [172]:
#Extracting experiance
ex=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for k in ex:
    lo=k.text
    exp.append(lo)

In [173]:
#extracting Location
l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for h in l:
    k=h.text
    lok.append(k)

In [174]:
import pandas as pd
df=pd.DataFrame({"Job Title":tit,"Company Name":cmp,"Location":lok,"Experiance":exp})
df[0:10]

,Job Title,Company Name,Location,Experiance
0,Data Scientist,Ashkom Media India Private Limited,"Noida, Bangalore/Bengaluru",3-6 Yrs
1,Junior Data Scientist,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,Noida,1-2 Yrs
2,Associate Data Scientist,Optum,Gurgaon/Gurugram,1-5 Yrs
3,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,Gurgaon/Gurugram,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,Skyleaf Consultants,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-8 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",0-4 Yrs
6,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs
7,Data Scientist (freelance),2Coms,"New Delhi, Delhi",2-7 Yrs
8,Data Scientists,Nibha Infotech Private Limited,Gurgaon/Gurugram,5-8 Yrs
9,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs

In [105]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand
#2. Product Description
#3. Price

In [122]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')

In [123]:
driver.get('https://www.flipkart.com')

In [124]:
#2. Enter “sunglasses” in the search field
s_field=driver.find_element_by_class_name("_3704LK")
s_field.send_keys("sunglasses")

In [125]:
#clicking close button of login screen
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()

In [126]:
#click the search icon
s_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
s_button.click()

In [127]:
brands=[]
pro_desp=[]
prices=[]

In [128]:
for i in range(0,4):
    
    title_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in title_tag:
        brands.append(i.text)
    
    desc_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for k in desc_tag:
        pro=k.text
        pro_desp.append(pro)
    prc_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        
    for l in prc_tag:
        prc=l.text
        prices.append(prc)
    
    #clicking next button
    driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    
    time.sleep(5)

In [129]:
import pandas as pd
df=pd.DataFrame({"Sunglasses Brand":brands[0:100],"Product Description":pro_desp[0:100],"Price":prices[0:100]})
df[0:100]

   Sunglasses Brand                               Product Description   Price
0           Arnette             Mirrored Retro Square Sunglasses (56)  ₹2,549
1      Silver Kartz          UV Protection Clubmaster Sunglasses (53)    ₹387
2          Fastrack     UV Protection Wayfarer Sunglasses (Free Size)    ₹719
3          Fastrack  UV Protection Rectangular Sunglasses (Free Size)    ₹575
4         Elligator               UV Protection Round Sunglasses (54)    ₹355
..              ...                                               ...     ...
95          Ray-Ban          UV Protection Over-sized Sunglasses (64)  ₹8,709
96           PIRASO        UV Protection Retro Square Sunglasses (55)    ₹399
97    VINCENT CHASE         UV Protection Rectangular Sunglasses (60)    ₹799
98           GANSTA              Mirrored Rectangular Sunglasses (58)    ₹224
99          Arnette      UV Protection Cat-eye Sunglasses (Free Size)  ₹2,549

[100 rows x 3 columns]

In [130]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
#1. Rating
#2. Review summary
#3. Full review

In [131]:
rating=[]
review=[]
fullreview=[]
page_url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(page_url)
for i in range(0,10):
    ratings=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    reviews=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    fullreviews=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in ratings:
        rate=i.text
        rating.append(rate)

    for j in reviews:
        rev=j.text
        review.append(rev)

    for k in fullreviews:
        fulrev=k.text
        fullreview.append(fulrev)

In [132]:
import pandas as pd
flipkart=pd.DataFrame({})
flipkart['Ratings']=rating
flipkart['Review']=review
flipkart['FullReview']=fullreview
flipkart

,Ratings,Review,FullReview
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

In [133]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in thesearch field.
#1. Brand
#2. Product Description
#3. price
#4. discount

In [137]:
page_url='https://www.flipkart.com/'
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(page_url)

In [138]:
#clicking close button of login screen
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()

In [139]:
brands=[]
desc=[]
price=[]
discount=[]

In [140]:
#Entering sneakers in the search field
snk=driver.find_element_by_class_name("_3704LK")
snk.send_keys("sneakers")

In [141]:
#clicking the search button
srch=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
srch.click()

In [142]:
for i in range(0,4):
    brad=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    prc=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discnt=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for s in brad:
        brands.append(s.text)
    for d in des:
        desc.append(d.text)
    for k in prc:
        price.append(k.text)
    
    for l in discnt:
        discount.append(l.text)

In [143]:
import pandas as pd
snkr=pd.DataFrame({})
snkr['Brand']=brands[0:100]
snkr['Product Description']=desc[0:100]
snkr['Price']=price[0:100]
snkr['Discount']=discount[0:100]
snkr[0:100]

,Brand,Product Description,Price,Discount
0,RapidBox,Men White Solid Sneakers Sneakers For Men,₹720,27% off
1,Roadster,Canvas shoes for Men Sneakers For Men,"₹1,487",54% off
2,URBANBOX,Sneakers For Men,₹198,80% off
3,BRUTON,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹299,76% off
4,Labbin,"Stylish Comfortable Lightweight, Breathable Wa...",₹499,50% off
...,...,...,...,...
95,SPARX,Sneakers For Men,₹756,15% off
96,BRUTON,Latest Collection-1227 Stylish Casual Sports S...,₹299,76% off
97,Kraasa,5011-Latest Collection Stylish & Trendy Casual...,₹490,50% off
98,aadi,STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sne...,₹347,65% off
99,Roadster,Sneakers For Men,"₹1,499",46% off

In [155]:
#Q7: Go to the link - https://www.myntra.com/shoes
#Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”
#And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [144]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')

In [145]:
driver.get('https://www.myntra.com/shoes')

In [148]:
#setting the price filter to "Rs.7149 to Rs. 14099"
driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]").click()

In [150]:
#setting the color filter to "Black"
driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]").click()

In [151]:
#scraping the 100 shoes data
br=driver.find_elements_by_xpath("//h3[@class='product-brand']")
d=driver.find_elements_by_xpath("//h4[@class='product-product']")
p=driver.find_elements_by_xpath("//div[@class='product-price']")

In [152]:
br=[]
des=[]
prc=[]

In [153]:
for i in range(0,2):
    b=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    ds=d=driver.find_elements_by_xpath("//h4[@class='product-product']")
    p=driver.find_elements_by_xpath("//div[@class='product-price']")
    for j in b:
        br.append(j.text)
    for k in ds:
        des.append(k.text)
    for l in p:
        prc.append(l.text)

In [154]:
import pandas as pd
df=pd.DataFrame({"Brand":br,"Description":des,"Price":prc})
df

,Brand,Description,Price
0,ALDO,Men Textured Slip-On Sneakers,Rs. 12999
1,ALDO,Men Sneakers,Rs. 9999
2,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
3,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
4,Nike,Women React MR 3 Running Shoes,Rs. 8920Rs. 10495(15% OFF)
...,...,...,...
95,Geox,Men Textured Leather Driving Shoes,Rs. 10990
96,Louis Philippe,Men Solid Leather Formal Loafers,Rs. 9999
97,PUMA Motorsport,Unisex Porsche Legacy Sneakers,Rs. 7999
98,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
99,Puma,Men Velocity Nitro 2 Running,Rs. 8799Rs. 10999(20% OFF)

In [156]:
#Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.
#Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
#1. Title
#2. Ratings
#3. Price

In [175]:
page_url='https://www.amazon.in/'
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(page_url)

In [176]:
brands=[]
rating=[]
price=[]

In [177]:
#Enter “Laptop” in the search field 
input_key=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
input_key.send_keys("Laptop")

In [178]:
#clicking search button
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input").click()

In [179]:
#clicking intel core i9 checkbox
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a").click()

In [180]:
#scraping laptop brand
b=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in b:
    brands.append(i.text)

In [16]:
r=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']/i")

In [17]:
for i in r:
    rating.append(i.text)

In [181]:
#scraping price 
pr=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pr:
    price.append(i.text)

In [174]:
import pandas as pd
df=pd.DataFrame({"Brand":brands,"Price":price})
df[0:10]

                                               Brand     Price
0  Acer Predator Helios 300 11th Gen Intel Core i...  1,69,990
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...    58,999
2  Mi Notebook Ultra 3.2K Resolution Display Inte...    77,990
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990
4  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490
5  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...    79,990
6  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    86,990
7  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990
8  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    85,890
9  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  1,01,112

In [175]:
#Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
#location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [6]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')

In [7]:
driver.get('https://www.ambitionbox.com')

In [9]:
#clicking jobs button
driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]").click()

In [11]:
#Entering Designation as Data Scientist
job=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
job.send_keys("Data Scientist")

In [12]:
#clicking on search Button
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button').click()

In [13]:
#clicking location tab
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div/i').click()

In [14]:
#Entering location as "Noida"
loc_input=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
loc_input.send_keys("Noida")

In [15]:
#clicking location as "Noida"
loc_select=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
loc_select.click()

In [16]:
com_name=[]
no_of_days_ago=[]
ratng=[]
jdate=[]

In [17]:
comname=driver.find_elements_by_xpath("//p[@class='company body-medium']")

In [18]:
for i in comname:
    c=i.text
    com_name.append(c)

In [19]:
days=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")

In [20]:
for i in days:
    no_of_days_ago.append(i.text)

In [21]:
rating=driver.find_elements_by_xpath("//span[@class='body-small']")

In [22]:
for i in rating:
    ratng.append(i.text)

In [23]:
import pandas as pd
df=pd.DataFrame({"CompanyName":com_name,"NoofDays_AgoJobwasPosted":no_of_days_ago,"Rating":ratng})
df[0:10]

,CompanyName,NoofDays_AgoJobwasPosted,Rating
0,EXL Services.com ( I ) Pvt. Ltd.,8d ago,3.9
1,GENPACT India Private Limited,20d ago,4.0
2,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,6d ago,3.9
3,GENPACT India Private Limited,1mon ago,4.0
4,Bristlecone India Limited,15d ago,3.8
5,Zyoin,19d ago,4.1
6,Ashkom Media India Private Limited,6d ago,3.7
7,Newgen Software Technologies Ltd.,21d ago,3.5
8,JK Technosoft Ltd,1mon ago,3.7
9,Pitney Bowes India Pvt Ltd,1mon ago,4.2

In [24]:
#Q10: Write a python program to scrape the salary data for Data Scientist designation.
#You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [76]:
driver=webdriver.Chrome(r'C:\Users\polasasuresh\Downloads\chromedriver_win32\chromedriver.exe')

In [77]:
driver.get('https://www.ambitionbox.com')

In [78]:
#clicking salaries tab
driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]").click()

In [79]:
#Enters “Data Scientist” in place of “Search Job Profile” 
input_tag=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
input_tag.send_keys("Data Scientist")
input_tag.click()

In [80]:
#clicking search box
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]').click()

In [81]:
#clicking data scientist
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p').click()

In [150]:
cname=[]
bsals=[]
avg_sal=[]
min_sal=[]
max_sal=[]

In [158]:
name=driver.find_elements_by_xpath("//div[@class='name']/a")
for i in name:
    cname.append(i.text)

In [159]:
bsal=driver.find_elements_by_xpath("//div[@class='name']/span")
for i in bsal:
    bsals.append(i.text)

In [160]:
sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in sal:
    avg_sal.append(i.text)

In [155]:
minsal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for j in minsal:
    mn=j.text
    min_sal.append(mn)

In [156]:
maxsal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for j in maxsal:
    mn=j.text
    max_sal.append(mn)

In [157]:
import pandas as pd
df=pd.DataFrame({"Company Name":cname,"Number of Salaries":bsals,"Average_salary":avg_sal,"Minimum Salary":min_sal,"Maximum Salary":max_sal})
df[0:10]

,Company Name,Number of Salaries,Average_salary,Minimum Salary,Maximum Salary
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L
1,Ab Inbev,based on 32 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L
4,Optum,based on 27 salaries,₹ 15.2L,₹ 11.0L,₹ 22.0L
5,Fractal Analytics,based on 81 salaries,₹ 15.2L,₹ 9.5L,₹ 22.0L
6,Tiger Analytics,based on 46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L
7,UnitedHealth,based on 53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L